@{
    ViewBag.Title = "Home Page";
}
<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <table id="SearchResultTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Passport Number</th>

                <th>Last name</th>
                <th>First name</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Action</th>
            </tr>
        </thead>
        
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script>
    var table = $('#SearchResultTable').DataTable({
    "processing": true,
    "serverSide": true,
    "ajax": {
        url: "@Url.Action("CustomServerSideSearchAction", "Home")",
        type: 'POST'
    },
    "language": {
        "search": "",
        "searchPlaceholder": "Search..."
    },
   "columns": [
       { "data": "PassportNo" },
       { "data": "Surname" },
       { "data": "FirstName" },
       { "data": "DateOfBirth" },
       { "data": "GenderId" },
       { "data": "CustomerId" },
    ]
}); 
</script>